// colors

$bg1: #fafafa;
$bg2: #999999;
$bg3: #B5B5B5;

$bg01: #202020;

$text1: #404040;
$text2: #606060;
$text3: #999999;
$text4: #B5B5B5;

$text01: #fafafa;
$text02: #A0A0A0;
$text03: #A5A5A5;

$border: #202020;

$accent: #ffdb4d;

// transition

@mixin transition($d: 0.2s) {
  transition: ease $d all;
}

@mixin hover($opacity: 0.7) {
  @include transition;

  @media screen and (min-width: $lg-min) {
    &:hover {
      opacity: $opacity;
      cursor: pointer;
    }
  }
}

// scrollbars

@mixin scrollbar($width: 1rem) {
  scrollbar-width: thin;
  scrollbar-color: $bg2 transparent;

  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    @include transition();
  }

  &::-webkit-scrollbar-thumb {
    background: $bg2;
    border-radius: 0.2rem;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

// special

@mixin input() {
  font-size: 1.4rem;
  resize: none;
  color: $text1;

  &::-webkit-input-placeholder {
    color: $text4;
  }
  &::-moz-placeholder {
    color: $text4;
  }
  &:-ms-input-placeholder {
    color: $text4;
  }
  &:-moz-placeholder {
    color: $text4;
  }
}

// media

$xs-max: 575.98px;

$sm-min: 576px;
$sm-max: 767.98px;

$md-min: 768px;
$md-max: 991.98px;

$lg-min: 992px;
$lg-max: 1199.98px;

$xl-min: 1200px;
$xl-max: 1599.98px;

$xxl-min: 1600px;